{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
  {% include 'partials/_messages.html' %}
  <form action="{% url 'preferences' %}" method="post">
    {% csrf_token %}
    <h5>Preffered Currency </h5>  
 
    <div class="input-group">
        <select name = "currency"    class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
          {% if user_preferences %}


          <option selected>{{ user_preferences.currency }}</option>
          {% else %}
          <option selected>Choose...</option>
          {% endif %}
          {% for currency in currencies %}
          <option  name = "currency"  value="{{ currency.name }} - {{ currency.value }}" >{{ currency.name }} - {{ currency.value }}</option>
          

          {% endfor %}
        </select>
        <input class="btn btn-outline-secondary" type="submit" value="Save">
      </div>
    </form>
</div>




{% endblock %}